:root {
  --timber-wolf: #E9E9E7;
  --biscuit: #EADED1;
  --periwinkle: #B3C7D0;
  --black-amber: #0F1422;

  --gradient-1-start: #CED2CA;
  --gradient-1-end: #B5BDB6;

  --gradient-2-start: #D0CDC2;
  --gradient-2-end: #CDCAC2;
}
