* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--timber-wolf);
}

section {
  background: transparent;
}

#root, body, html {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;
    display: block !important;
}

